body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1045px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:76px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1527px;
  width:5px;
  height:60px;
  display:flex;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:812px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:1033px;
  height:812px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
